/* Your CSS goes here */

#textinput {
    background-color: yellow;
}

#submitbutton {
    background-color: yellow;
}

.p1 {
    border-style: solid;
    border-color: green;
    border-width: 5px;
    border-radius: 10px;
    padding: 20px;
}

.motto {
    font-family: cursive;
}